<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Quick Roster &#0153;</strong>
                            
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    QR
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboard.main"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
            </li>

            <li ng-class="{active: $state.includes('mailbox')}">
                <a ui-sref="inbox"><i class="fa fa-envelope"></i> <span class="nav-label">{{ 'MAILBOX' | translate }} </span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('mailbox')}">
                    <li ui-sref-active="active"><a ui-sref="mailbox.inbox">Inbox</a></li>
                </ul>
            </li>

            <li ng-class="active">
                <a ui-sref="management"><i class="fa fa-desktop"></i> <span class="nav-label">Management</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.personnel">Personnnel</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.task">Task</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.team">Team</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.shifts">Shift</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.unavailability">Unavailability</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.equipment">Equipment</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.location">Location</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.user">User</a></li>
                </ul>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.payRate">Pay Rates</a></li>
                </ul>
            </li>

          
            <li ng-class="active">
                <a ui-sref="report"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reports</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('reports')}">
                    <li ui-sref-active="active"><a ui-sref="reports.shiftReport">Shift Report</a></li>
                </ul>
            </li>

            <li ng-class="active">
                <a ui-sref="cost"><i class="fa fa-usd"></i> <span class="nav-label">Costs</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('costs')}">
                    <li ui-sref-active="active"><a ui-sref="costs.shiftCost">Shift Cost</a></li>
                </ul>
            </li>

            <li ng-class="active">
                <a ui-sref="settings"><i class="fa fa-cog"></i> <span class="nav-label">Settings</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('settings')}">
                    <li ui-sref-active="active"><a ui-sref="settings.systemSetting">System Settings</a></li>
                </ul>
            </li>


            <!--<li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>
            </li>-->
            
        </ul>

    </div>
</nav>