
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    PayRule
                    <small>A list of all Pay Rules</small>
                </h5>
            </div>
            <div class="ibox-content">
                <form method="get" class="form-horizontal">
                    <div class="row">
                        <div class="row ">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ng-click="addNew()"><i class="fa fa-plus-circle "></i> Add new PayRule</button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <input type="text" placeholder="Search payRule name" class="input-sm form-control" ng-model="searchText">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                                <tr dir-paginate="payRule in payRuleList | filter:searchText| itemsPerPage:10" current-page="currentPage">
                              
                                    <td class="project-people">
                                        <a>
                                            <i class=" fa fa-usd">
                                            </i>
                                        </a>
                                    </td>
                                    <td class="project-title">
                                        <a>{{payRule.PayRuleName}}</a>
                                        <br />
                                        <small>{{payRule.Description}}</small>
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-white btn-sm" ng-click="openPayRuleDetails(payRule)"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-white btn-sm" ng-click="deletePayRule(payRule)"><i class="fa fa-trash-o"></i></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/js/directives/dirPagination.tpl.html"></dir-pagination-controls>

                    </div>


                </form>
            </div>
        </div>
    </div>
</div>