<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Personnel Details</h4>
    </div>
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form name="personelInfo"  class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-9"><input type="text" class="form-control" placeholder="--first name--" ng-model="personnel.FirstName" required></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9"><input type="text" class="form-control" placeholder="--last name--" ng-model="personnel.LastName" required></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Preferred Name</label>
                                <div class="col-sm-9"><input type="text" class="form-control" placeholder="--preferred name--" ng-model="personnel.PreferredName"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Gender
                                </label>
                                <div class="col-sm-9 ">
                                    <label class="radio-inline">
                                        <input type="radio" checked="" value="Male" id="optionsRadios1" name="optionsRadios" ng-model="personnel.Gender">Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="Female" id="optionsRadios2" name="optionsRadios" ng-model="personnel.Gender">Female
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Mobile</label>
                                <div class="col-sm-9"><input type="text" class="form-control" placeholder="--mobile number--" ng-model="personnel.Mobile"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>

                                <div class="col-sm-9"><input type="email" placeholder="--email--" class="form-control" ng-model="personnel.Email" required></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Date of Birth</label>

                                <div class="col-sm-9">
                                    <input type="datetime" class="form-control" placeholder="--dd/mm/yyyy--" date-time ng-model="personnel.DateOfBirth" view="date" min-view="date" auto-close="true" format="dd/MM/yyyy">
                                    <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                                    {{personnel.DateOfBirth}}
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel(personelInfo)">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="personelInfo.$pristine || personelInfo.$invalid" ng-click="saveAndClose(personnel,personelInfo)">Save changes</button>

    </div>
</div>

